<nav>
   <div class="navbar">
      <div class="navbar-name">
         <a class="nav-options" href="/">Miss O'ccasion</a>
      </div>
      <div class="navbar-right">
         <a class="nav-options" href="/">Home</a>
         <a class="nav-options" href="/products">Products</a>
         <a class="nav-options" href="/enquire">Contact</a>
      </div>
   </div>
</nav>