<% layout('layout/boilerplate')%>
<!-- displays error message if error arises -->
   <div>
      <h4 style="margin: 0;">
         <%=err.message%>
      </h4>
      <p>
         <%= err.stack %>
      </p>
   </div>