<!-- home/welcome page -->
<% layout("layout/boilerplate")%>

    <h1>Ms. Occasion</h1>
    <h3>Welcome</h3>

    <!-- Cards displaying different options for users to select -->
    <div class="d-flex align-items-center justify-content-sm-evenly flex-column flex-md-row">
        <div class="card my-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">All Products</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="/products" class="btn btn-primary">View All</a>
            </div>
        </div>
        <div class="card my-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Example</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card my-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Example</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>    
    </div>