<% layout('layout/boilerplate')%>

   <!-- <img src="" alt=""> -->
   <div>
      <div class="form-heading">Register</div>
      <form action="/register" id="form" method="POST">
         <div class="form-details">
            <div class="form-inputs">
               <label for="username">Username</label>
               <input type="text" name="username" id="username" placeholder="Username">
               <!-- <i class="fas fa-check-circle"></i>
               <i class="fas fa-exclamation-circle"></i>
               <small></small> -->
            </div>
            <div class="form-inputs">
               <label for="email">Email</label>
               <input type="email" name="email" id="email" placeholder="Email">
               <!-- <i class="fas fa-check-circle"></i>
               <i class="fas fa-exclamation-circle"></i>
                <small></small> -->
            </div>
            <div class="form-inputs">
               <label for="password">Password</label>
               <input type="password" name="password" id="password" placeholder="Password">
               <!-- <i class="fas fa-check-circle"></i>
               <i class="fas fa-exclamation-circle"></i>
               <small></small> -->
            </div>
         </div>
         <div class="button">
            <input type="submit" value="Register">
         </div>
      </form>
   </div>
   