<% layout("layout/boilerplate")%>

   <div id="form-display">
      <div class="form-container">
         <div class="form-heading">Add a Product</div>
         <form action="/products" method="POST">
            <div class="form-details">
               <div class="form-inputs">
                  <label for="title">Product Name</label>
                  <input type="text" name="product[title]" id="title" placeholder="Product name">
               </div>
               <div class="form-inputs">
                  <label for="description">Product Description</label>
                  <input type="text" name="product[description]" id="description" placeholder="Description">
               </div>
               <div class="form-inputs">
                  <label for="price">Product Price</label>
                  <input type="text" name="product[price]" id="price" placeholder="Price">
               </div>
            </div>
            <div class="button">
               <input type="submit" value="Add Product">
            </div>
         </form>
         <div class="show-buttons">
            <a href="/products">
               <button class="return-new">Back to All Products</button>
            </a>
         </div>
      </div>
   </div>