<!-- display page for all available products -->
<% layout("layout/boilerplate")%>
   <h1 class="margin-16" style="margin-top: 0;">All Products</h1>
   <div class="display-card">
      <div class="border-bottom">
         <p>img here</p>
         <p>img here</p>
         <p>img here</p>
         <p>img here</p>
         <p>img here</p>
         <p>img here</p>
         <p>img here</p>
         <p>img here</p>
      </div>
      <!-- <img src="" alt=""> -->
      <h1 class="display-text border-bottom">Product name</h1>
      <p class="display-text description">Short Description</p>
      <a href="/products/product1"><button>Show more</button></a> 
   </div>
   